[submodule "Clojure"]
	path = Clojure
	url = https://github.com/alexpti4ka/nsu-clojure.git
[submodule "Programming"]
	path = Programming
	url = https://github.com/alexpti4ka/nsu-programming/
[submodule "GPU"]
	path = GPU
	url = https://github.com/alexpti4ka/nsu-gpu.git
[submodule "OS_DevTools"]
	path = OS_DevTools
	url = https://github.com/alexpti4ka/nsu-os-devtools.git
